---
layout: default
title: Drue Wilding - Blog
description: <a rel='me' href='https://queer.party/@aimeerivers'>@aimeerivers@queer.party</a>
image: https://www.aimeerivers.com/assets/images/blog/og-image.png
---

<p>Looking for my CV? <a href="/cv/">Find it here</a></p>

<!-- This loops through the paginated posts -->
<div class="posts-grid">
  {% for post in paginator.posts %}
  <a href="{{ post.url }}">
    <article class="post">
      {% if post.image %}
      <img src="{{ post.image | replace: 'https://www.aimeerivers.com', '' }}" alt="{{ post.title }}" />
      {% endif %}
      <h2>{{ post.title }}</h2>
      <small>
        {% assign post_date_iso = post.date | date: "%Y-%m-%d" %} {% assign post_date_long = post.date |
        date_to_long_string %}
        <time datetime="{{ post_date_iso }}">{{ post_date_long }}</time>
      </small>
      <p>{{ post.description }}</p>
    </article>
  </a>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous"> &lt; Previous </a>
  {% else %}
  <span class="previous">&lt; Previous</span>
  {% endif %}
  <span class="page_number"> | <strong>Page {{ paginator.page }} of {{ paginator.total_pages }}</strong> | </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next &gt;</a>
  {% else %}
  <span class="next">Next &gt;</span>
  {% endif %}
</div>
